<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/admin.css">
    <link rel="stylesheet" href="../styles/admin-search.css">

    <link rel="shortcut icon" href="../images/LogoCasaConfort.png" type="image/png">
    <title>Clientes Casa Confort</title>
</head>
<body>
    
    <div class="container app">
        <div class="navbar navbar-clients">
            <a href="#" class="navbar-brand"><img class="navbar-logo" src="../images/LogoCasaConfort.png" alt="Logo Casa Confort"> Casa Confort </a>
            <a href="/logout"><i class="fas fa-power-off fa-3x logout-icon"></i></a>
        </div>
    
    <div class="container searchContainer">
        <div class="row">
            <div class="col-md-9">
                <div class="input-group client-search-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text search-input-group-text"><i class='fas fa-search fa-xs'></i></span>
                    </div>
                    <input type="text" class="form-control client-search-input" id="search" placeholder="Buscar cliente...">
        
                    
                </div>
            </div>
            <div class="col-md-3">
                <form action="/admin" method="GET"><button type="" class="btn btn-goback">Regresar</button></form>
            </div>
        </div>
    </div>

    <div class="container tableContainer">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre del Cliente</th>
                    <th scope="col">Numero de Telefono</th>
                    <th scope="col">Numero de Cedula/Pasaporte</th>
                    <th scope="col">Usuario Asignado</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>

    <script src="../js/admin-search.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>