/* App */
.app {
    padding: 3%;
}

/* Navbar */
.navbar-clients {
    margin-bottom: 30px;
}

/* Navigation Menu */
.admin-menu {
    text-align: center;
}

/* Button classes */
.button-container {
    padding: 2%;
}

.button {
    padding: 10%;
    width: 100%;
}

.btn-desc {
    margin-top: 20px;
    font-family: "Roboto";
}

.other-client-btn {
    width: 33%;
    padding: 1%;
}

.btn-goback {
    padding: 2%;
    background-color: #AB1F75
}

/* User admin view */ 
.user-list {
    text-align: center;
    margin-top: 5px;

    margin-bottom: 50px;
}